<div class="page">
  <span id="spoons-img"></span>
  <div class="spices">
    <div style="background-color: #cdad00" class="section about">
      <div class="header">
        <h1>Začini</h1>
      </div>
      <div class="content">
        <p>
          Zanimijivo je na koji način su začini uticali na tokove civilizacia.
          Korišćeni su u narodnoj medicini, ishrani, proizvoanji parfema...
          Danas su u upotrebi mogobrojni začini, a samo neki od njih su:
        </p>
        <ul class="list">
          <li>
            biber
            <ul class="sublist">
              <li>beli</li>
              <li>crni</li>
              <li>zeleni</li>
            </ul>
          </li>
          <li>šafran</li>
          <li>kurkuma</li>
          <li>kardamon</li>
        </ul>
        <p>
          Prvi začini kojima se trgovalo su <i><b>biber</b></i> i
          <i><b>cimet</b></i
          >, a vreme za koje se podatak vezuje je cak 2000 godina pre nove ere.
        </p>
        <a
          href="https://sh.wikipedia.org/wiki/Za%C4%8Din#:~:text=Za%C4%8Dini%20i-,njihova,-upotreba%5Buredi"
          target="_blank"
          >skok na tabelu sa podacimo o proizvodnji</a
        >
      </div>
    </div>
    <div class="section">
      <div class="saffron">
        <span id="saffron-img"></span>
      </div>
      <div style="background-color: #8b7500" class="production">
        <div class="header">
          <p>Proizvodnja začina po zemljama *</p>
        </div>
        <div class="content">
          <table>
            <tr>
              <th>Indija</th>
              <th>Bangladeš</th>
              <th>Turska</th>
              <th>Kina</th>
              <th>Pakistan</th>
            </tr>
            <tr>
              <td>70%</td>
              <td>9%</td>
              <td>5.7%</td>
              <td>5.5%</td>
              <td>3%</td>
            </tr>
          </table>
          <p>
            izvor informacija:
            <a href="https://www.wikipedia.org/" target="_blank">Wikipedia</a>
          </p>
          <p>* &#9472; podaci se odnose na period 2009.-2010. godina</p>
        </div>
      </div>
    </div>
  </div>
</div>
