@tailwind base;
@tailwind components;
@tailwind utilities;

$times-new-roman: "Times New Roman", Times, serif;
$arial: Arial, Helvetica, sans-serif;

$h1-font-size: 24px;

$large-font-size: 16px;
$small-font-size: 14px;
$smaller-font-size: 13px;

$page-width: 900px;
$page-height: 600px;

$wide-section-width: 550px;
$narrow-section-width: 300px;
$section-height: 400px;

$white: #ffffff;
$black: #000000;
$light-gold: #cdad00;

* {
  font-family: $times-new-roman;
  line-height: $large-font-size;
}

h1 {
  font-size: $h1-font-size;
  letter-spacing: 1px;
  color: $white;
  margin: 10px 0px 20px 0px;
}

p {
  font-size: $small-font-size;
  text-align: justify;
}

ul {
  font-size: $large-font-size;
  font-family: $arial;
  font-weight: 500;
}

li::marker {
  font-size: 20px;
}

a {
  font-size: $small-font-size;
  color: $white;
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid $black;
  border-collapse: separate;
  text-align: center;
  font-size: $large-font-size;
}

th {
  font-weight: normal;
}

td {
  font-family: $arial;
  font-weight: 300;
  padding-top: 3px;
}

.wrapper {
  @extend .flex-center;
}

.page {
  width: $page-width;
  height: $page-height;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#spoons-img {
  display: flex;
  background-image: url("./assets/spices.png");
  height: 170px;
}

.spices {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.section {
  height: $section-height;
  display: flex;
  flex-direction: column;
}

.about {
  width: $narrow-section-width;
  padding: 10px;
}

.about a {
  font-family: $arial;
  font-size: $smaller-font-size;
  text-decoration: underline;
}

.about a:hover {
  color: $black;
}

.about .header {
  @extend .flex-center;
}

.about .content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}

.list {
  padding-inline-start: 30px;
  list-style-type: square;
  list-style-position: inside;

  .sublist {
    padding-inline-start: 40px;
    list-style-type: circle;
    list-style-position: inherit;
  }
}

.production {
  width: $wide-section-width;
  @extend .flex-center;
  flex-direction: column;
  align-items: center;
}

.saffron {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-grow: 1;
}

#saffron-img {
  display: flex;
  background-image: url("./assets/safran.png");
  width: 153px;
  height: 86px;
}

.production {
  padding: 20px;
}

.production .header {
  margin-bottom: 10px;
}

.production .header p {
  font-size: $large-font-size;
}

.production .content {
  width: 100%;
  @extend .flex-center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.production .content p {
  font-family: $arial;
}

.production .content a {
  color: $light-gold;
  font-family: $arial;
}

.production .content a:hover {
  color: $black;
}
