<div class="p-10 flex flex-row justify-center gap-10">
  <div class="w-fit lg:w-1/5 flex justify-center gap-10">
    <app-filter
      class="w-full flex justify-center"
      (categorySelectedEvent)="categoryChange($event)"
    ></app-filter>
  </div>
  <div
    class="flex-grow grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10"
  >
    <div *ngFor="let movie of movies" class="grid">
      <app-card [movie]="movie" class="flex justify-center"></app-card>
    </div>
  </div>
</div>
